@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities{
  .menu-background {
    background-color: rgba(
      3,
      3,
      3,
      0.412
    ); /* Adjust the last value (0.5) for opacity */
    backdrop-filter: blur(5px); /* Adjust the blur radius as needed */
  }

  .parent {
    display: grid;
    grid-template-columns: 1fr repeat(2, 35%) 1fr;
    grid-template-rows: 1fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }

  .divone {
    grid-area: 1 / 2 / 2 / 3;
  }
  .divtwo {
    grid-area: 1 / 3 / 2 / 4;
  }
}
